<p>
  literacy works!
</p>
<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <a routerLinkActive="active" routerLink="recollections" class="navbar-item">Literacy Skill Development</a>
      <a routerLinkActive="active" routerLink="chicago" class="navbar-item">Gigi’s Playhouse</a>
      <a routerLinkActive="active" routerLink="irvine" class="navbar-item">So Happy To Learn</a>
      <a routerLinkActive="active" routerLink="sooregon" class="navbar-item">"Reading About Me"</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>