<div class="container">
  <div class="row justify-content-center">
    <ul class="nav nav-tabs nav-fill">
      <li routerLinkActive="active" class="nav-item"><a routerLink="recollections" class="nav-link">Literacy Skill Development</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="chicago" class="nav-link">Gigi’s Playhouse</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="irvine" class="nav-link">So Happy To Learn</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="sooregon" class="nav-link">"Reading About Me"</a></li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>