<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/home" class="navbar-item">A New Era for Down Syndrome</a>
    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a routerLinkActive="active" routerLink="/home" class="navbar-item">Home</a>
      <a routerLinkActive="active" routerLink="/program" class="navbar-item">Program</a>
      <a routerLinkActive="active" routerLink="/students" class="navbar-item">Students</a>
    </div>
  </div>
</nav>