<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/home" class="navbar-brand">A New Era for Down Syndrome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLinkActive="active" routerLink="/program" class="nav-item nav-link">Program</a>
      <a routerLinkActive="active" routerLink="/students" class="nav-item nav-link">Students</a>
    </div>
  </div>
</nav>

