<div class="container">
  <div class="row justify-content-center">
    <ul class="nav nav-tabs nav-fill history">
      <li routerLinkActive="active" class="nav-item"><a routerLink="beginnings" class="nav-link">How It Began<br>1964 - 1971</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="models" class="nav-link">Model Programs<br>1971 - 1979</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="preschool" class="nav-link">Preschool Outreach<br>1980 - 1989</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="chdd" class="nav-link">CHDD<br>1990 - 1997</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="saut" class="nav-link">SAUT Model Programs<br>1991 to Present</a></li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>