<article>

<h1>CHDD Down Syndrome Program:1990-1997 Patricia Oelwein</h1>
<div class="picture right"><img src="assets/images/chdd1.jpg" alt="University Week--Story about Pat and her book, 1995." /> University Week--Story about Pat and her book, 1995.</div>
<div class="picture right"><img src="assets/images/chdd2.jpg"  alt="Pat Oelwein training Japanese Special Education tour group, 1990 at the CHDD." /> Pat Oelwein training Japanese Special Education tour group, 1990 at the CHDD.</div>
<p>When the in-service grant ended December 1989, Dr. Michael Guralnick, director of the Center on Human Development and Disability (CHDD) asked me to continue the Down Syndrome Program at CHDD. In this position, I teamed with the Down Syndrome Community to continue the workshops and conferences at the UW; counseled parents; supported research; and provided consultations and training for school districts. This being a part-time position, I was provided with a computer in the place of a secretary. As I became proficient with this new tool, and fell for it head over heels, it brought forth new accomplishments, among them, <span class="booktitle"><q>Teaching Reading to Children with Down Syndrome</q></span> (1995). (See sidebar, Literacy Programs)
</p>
<div class="picture right"><img src="assets/images/chdd3.jpg" alt="Pat Oelwein with Japanese Special Education Tour group, 1990." /> Pat Oelwein with Japanese Special Education Tour group, 1990.</div>
<p class="bottomfill">The reading book had been eagerly anticipated, and upon its publication, the demand for workshops and presentations increased; in addition, I had made a commitment to provide on-going consultant services to the Al-Nahda School for Down Syndrome in Riyadh, Saudi Arabia. In 1997, after 25 years at the University of Washington, I retired, hoping to slow down and have more time to relax, and hopefully indulge in other interests between commitments.
</p>

</article>
