<p>
  replications works!
</p>
<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <a routerLinkActive="active" routerLink="firstreplication" class="navbar-item">Child Development Center</a>
      <a routerLinkActive="active" routerLink="prideschool" class="navbar-item">PRIDE School</a>
      <a routerLinkActive="active" routerLink="kids" class="navbar-item">Kids on the Move</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>