<p>
  fathers works!
</p>
<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-end">
      <a routerLinkActive="active" routerLink="sefambg" class="navbar-item">Serving Extended Family Members</a>
      <a routerLinkActive="active" routerLink="meyerschell" class="navbar-item">Fathers Network and Sibling Support Project</a>
      <a routerLinkActive="active" routerLink="fathersstory" class="navbar-item">A Father's Story</a>
      <a routerLinkActive="active" routerLink="sibstories1" class="navbar-item">A Tale of Two Sisters</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>