<div class="container">
  <div class="row justify-content-center">
    <ul class="nav nav-tabs nav-fill">
      <li routerLinkActive="active" class="nav-item"><a routerLink="sefambg" class="nav-link">Serving Extended Family Members</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="meyerschell" class="nav-link">Fathers Network / Sibling Support Project</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="fathersstory" class="nav-link">A Father's Story</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="sibstories" class="nav-link">A Tale of Two Sisters</a></li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>