<div class="container">
  <div class="row justify-content-center">
    <ul class="nav nav-tabs nav-fill">
      <li routerLinkActive="active" class="nav-item"><a routerLink="australia" class="nav-link">Australia</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="saudiarabia" class="nav-link">Saudi Arabia</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="spain" class="nav-link">Spain</a></li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>